// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.icon-viblo:before {
    color: rgba(84, 136, 199, 0.5);
    vertical-align: sub;
}

.tab {
  &[data-type="VibloPluginSettingsView"] {
    .title {
      text-align: center;
    }
    &:before {
        background: #5488c7 !important;
    }
  }
  &.active {
    .icon-viblo {
      &:before {
        color: #5488c7;
      }
    }
  }
  .icon-viblo {
    &:before {
      font-size: 18px;
      font-weight: bold;
    }
  }
  .icon-post-public:before {
    content: "\61 \64";
  }
  .icon-post-draft:before {
    content: "\61 \63";
  }
  .icon-post-draft-public:before {
    content: "\61 \3c";
  }
}

.icon-viblo-markdown-preview:before {
  content: "\61 \e0f9";
  color: rgb(84, 136, 199);
  font-size: 18px;
  vertical-align: sub;
}

.item-views > div[is="space-pen-div"] {
  > atom-text-editor {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.viblo-atom-plugin {
  &.settings-view {
    .section-container {
      max-width: 50em;
    }
    .about-panel {
      max-width: 100%;
      width: 100%;
      .section-container {
        max-width: 100%;
        width: 100%;
      }
    }

    .icon-viblo {
      &:before {
        color: rgb(84, 136, 199);
        font-size: 16px;
      }
    }
    button {
      &.btn {
        .loading {
          display: none;
        }
        &.is-processing {
          &:before {
            display: none;
          }
          .loading {
            display: inline-block;
          }
        }
      }
    }
    .section {
      section.section {
        padding: 0;
      }
      &:first-child, &:last-child {
        // padding: 1em 4.5em 4.5em 4.5em;
      }

      .section-heading {
        .icon-viblo {
          &:before {
            font-size: 2.2em;
          }
        }
      }

      .sub-section {
        margin: 4.5em 0 0 0;

        .posts-container {
          .row:last-child {
            .post-card {
              margin-bottom: 0;
            }
          }
          max-height: 465px;
          overflow: auto;
        }
         &.collapsed {
              .posts-container .post-card,
              .sub-section-body .control-group {
                display: none !important;
              }
        }
      }
    }

    .post-card {
      padding: 10px;
      margin-bottom: 10px;
      list-style-type: none;
      font-size: 1.2em;
      border-radius: 6px;
      border: 1px solid #111314;
      background-color: #292c2f;
      overflow: hidden;
      cursor: pointer;
      -webkit-user-select: none;

      &:hover {
          background-color: #2e3134;
      }

      .meta-user {
          flex: 1 0 auto;
          margin-top: 5px;
          margin-right: 10px;
      }

      .meta {
          display: flex;
          flex-wrap: wrap;
          justify-content: flex-end;
          width: 100%;
      }

      .meta-controls {
        .btn-toolbar {
          display: inline-block;
          margin-left: 5px;
        }
        .btn-toolbar > .btn-group {
          float: left;
          margin: 5px 0 0 5px;
        }
      }
    }
  }
}

.modal {
  .image-thumbs {
    overflow: auto;
    max-height: 226px;
  }
  .body {
    padding: 10px;

    h1 {
      font-size: 2em;
      text-align: center;
    }
    .form-control {
        font-size: 1.25em;
        background-color: @base-background-color;
        border-color: @base-border-color;
        height: 2em;
        padding-top: 0;
        padding-bottom: 0;
    }
    .control-label {
      display: block;
    }
    select {
      &.form-control {
        color: @text-color;
        background-color: @base-background-color;
        border-color: @base-border-color;
        margin: 5px 0 15px;
      }
    }
    .submit-loader {
      display: none;
      text-align: center;
    }
    &.request-loading {
      .submit-loader {
        display: block;
      }
      .content {
        display: none;
      }
    }

    .btn-toolbar {
      text-align: center;
      padding: 20px 0 15px 0;
      font-size: 1.2em;

      .btn-group {
        float: none;

        .btn {
          padding: 10px 20px;
        }
      }
    }
  }
}


@keyframes neon2 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;
  }
}

@-webkit-keyframes neon2 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;
  }
}

.markdown-preview:not([data-use-github-style]) pre, .markdown-preview:not([data-use-github-style]) code {
  background: @inset-panel-background-color !important;
  font-size: 1em;
}
.about-panel {
  .icon-viblo:before {
    -webkit-transition: all 1s;
    transition: all 1s;
    font-size: 4.5em !important;
    color: @text-color !important;
  }
  .icon-viblo:hover:before {
    color: #ffffff !important;
    -webkit-animation: neon2 1.5s ease-in-out infinite alternate;
    animation: neon2 1.5s ease-in-out infinite alternate;
  }
  .about-links {
    margin-top: 60px;

    .icon-heart:before {
      color: #F73131;
    }
    .icon:before {
      font-size: 18px;
      vertical-align: sub;
    }
  }
}
