// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

@custom-font-path: "atom://viblo-atom-plugin";
@font-face {
  font-family: 'viblo';
  src:url("atom://viblo-atom-plugin/fonts/viblo.eot");
  src:url("atom://viblo-atom-plugin/fonts/viblo.eot?#iefix") format("embedded-opentype"),
    url("atom://viblo-atom-plugin/fonts/viblo.woff") format("woff"),
    url("atom://viblo-atom-plugin/fonts/viblo.ttf") format("truetype"),
    url("atom://viblo-atom-plugin/fonts/viblo.svg#viblo") format("svg");
  font-weight: normal;
  font-style: normal;
}
.tab {
  &[data-type="VibloPluginSettingsView"] {
    .title {
      text-align: center;
    }
    &:before {
        background: rgb(232, 100, 47) !important;
    }
  }
  &.active {
    .icon-viblo-logo {
      &:before {
        color: rgb(232, 100, 47);
      }
    }
  }
  .icon-viblo-logo {
    &:before {
      content: "\e000";
      color: rgba(232, 100, 47, 0.5);
      font-family: 'viblo' !important;
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      vertical-align: -webkit-baseline-middle;
      font-size: 2.2em;

      /* Better Font Rendering =========== */
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  }
}

.item-views > div[is="space-pen-div"] {
  > atom-text-editor {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.viblo-atom-plugin {
  &.settings-view {

    button {
      &.btn {
        .loading {
          display: none;
        }
        &.is-processing {
          &:before {
            display: none;
          }
          .loading {
            display: inline-block;
          }
        }
      }
    }
    .section {
      &:first-child, &:last-child {
        // padding: 1em 4.5em 4.5em 4.5em;
      }

      .sub-section {
         &.collapsed {
              .posts-container .post-card,
              .sub-section-body .control-group {
                display: none !important;
              }
        }
      }
    }

    .post-card {
      padding: 15px;
      margin-bottom: 10px;
      list-style-type: none;
      font-size: 1.2em;
      border-radius: 6px;
      border: 1px solid #111314;
      background-color: #292c2f;
      overflow: hidden;
      cursor: pointer;
      -webkit-user-select: none;

      &:hover {
          background-color: #2e3134;
      }

      .meta-user {
          flex: 1 0 auto;
          margin-top: 10px;
          margin-right: 10px;
      }

      .meta {
          display: flex;
          flex-wrap: wrap;
          justify-content: flex-end;
          width: 100%;
      }

      .meta-controls {
        .btn-toolbar > .btn-group {
          float: left;
          margin: 5px 0 0 5px;
        }
      }
    }
  }
}

.modal {
  .body {
    padding: 10px;

    h1 {
      font-size: 2em;
      text-align: center;
    }
    .form-control {
        font-size: 1.25em;
        background-color: @base-background-color;
        border-color: @base-border-color;
        height: 2em;
        padding-top: 0;
        padding-bottom: 0;
    }
    .control-label {
      display: block;
    }
    select {
      &.form-control {
        color: @text-color;
        background-color: @base-background-color;
        border-color: @base-border-color;
        margin: 5px 0 15px;
      }
    }
    .submit-loader {
      display: none;
      text-align: center;
    }
    &.request-loading {
      .submit-loader {
        display: block;
      }
      .content {
        display: none;
      }
    }

    .btn-toolbar {
      text-align: center;
      padding: 20px 0 15px 0;
      font-size: 1.2em;

      .btn-group {
        float: none;

        .btn {
          padding: 10px 20px;
        }
      }
    }
  }
}
